<div class="row">
    <div class="profile_box">
        <%= render "welcome/backarrow"%>
        <h1>BME Projects</h1>
        <ul class = "projects">
           
            <li><%= link_to 'Research'%></li>
            <li><%= link_to 'Biomedical Innovation for Global Impact', 'https://news.tulane.edu/pr/lessons-peru'%> </li>
            <li><%= "More in progress..."%></li>
        </ul>
    <div/>
<div/>