<div class="row">
    <div class="profile_box">
        <%= render "welcome/backarrow"%>
        <h1>I..</h1>
        <ul class = "projects">
           
            <li><%= "travelled to 10 countries."%></li>
            <li><%= "speak 3.5 languages."%> </li>
            <li><%= "go fencing, swimming, and surfing."%> </li>
      
        </ul>
    <div/>
<div/>