
    
<div class="row">
    <div class="profile_box">
        <img src="/assets/IMG_0343.jpg" class="profile_picture"></img>
        <h1>Siyang Hu</h1>
        <h5>Senior at Tulane University | Developer & Engineer</h5>
        <p>My passion is in creating values for my team and my community.</p>
        <!--Icon-->
        <div class="social_icons">
            <a href="https://www.linkedin.com/in/siyanghu/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            <a href="https://github.com/SiyangHu" target="_blank"><i class="fab fa-github"></i></a>
        </div>
    </div>
    

</div>