<div class="row">
    <div class="profile_box">
        <%= render "welcome/backarrow"%>
        <h1>Software Projects</h1>
        <ul class = "projects">
           
            <li><%= link_to 'Better Gibson', 'https://better-gibson-scheduler.herokuapp.com/'%></li>
            <li><%= link_to 'Shopping List', 'https://better-gibson-scheduler.herokuapp.com/'%> </li>
            <li><%= "More in progress..."%></li>
        </ul>

        <h6>Java</h6>
        <h6>Python</h6>
        <h6>Ruby on Rails</h6>
        
    </div>
</div>