<div class="row">
    <div class="profile_box">
        <h1>Software Projects</h1>
        <ul class = "projects">
            <br /><br />
            <li><%= link_to 'Better Gibson', 'https://better-gibson-scheduler.herokuapp.com/'%></li>
            <li><%= link_to 'Shopping List', 'https://better-gibson-scheduler.herokuapp.com/'%> </li>
        </ul>
        <br /><br />
        <h5>Java</h5>
        <h5>Python</h5>
        <h5>Ruby on Rails</h5>
        
    </div>
</div>